@model ValueTuple<bool, string>

@if (Model.Item1)
{
  <small style="padding-right: 0.5rem">@Model.Item2</small>
  <a class="btn btn-sm btn-outline-secondary" asp-area="" asp-page="/SignOut">Sign out <i class="fas fa-user"></i></a>
}
else
{
  <a class="btn btn-sm btn-secondary" asp-area="" asp-page="/SignIn">Sign in <i class="fas fa-user"></i></a>
}