@using Microsoft.AspNetCore.Http
@using WebApp.Helpers
@model ServiceLayer.LocomotiveService.ListLocomotiveDto

<div class="card product-card">
  <a asp-page="./Details/" asp-route-id="@Model.ProductId">
    <img class="card-img-top" src="~/img/products/@Model.Images.FirstOrDefault()?.Path" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">@Model.Name, @Model.RailwayCompanyName</h5>
      <p class="card-text"></p>
    </div>
  </a>
  @if ((Context.Session.GetInt32(Session.IS_ADMIN) ?? 0) > 0)
  {
    <div class="card-footer">
      <a class="text-muted" asp-page="./AddEdit/" asp-route-id="@Model.ProductId">Edit <i class="fas fa-edit"></i></a>
    </div>
  }
</div>