@model ServiceLayer.LocomotiveService.ListLocomotiveDto

<div class="card product-card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@Model.Name, @Model.RailwayCompanyName</h5>
    <p class="card-text"></p>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>