@page
@model WebApp.Pages.SignOutModel
@{
  ViewData["Title"] = "Sign out";
}

@section head {
  <meta http-equiv="Refresh" content="5;url=/Index" />
}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4">Successfully signed out</h1>
      <i class="display-3 fas fa-check" style="color: green"></i>
      <br />
      <p>Redirecting. . .</p>
    </div>
  </div>
</div>