@page
@model WebApp.Pages.SignInModel
@{
    ViewData["Title"] = "Sign in";
}

<div class="container">
  <div class="row">
    <div class="col col-4">
      <h3>Sign in</h3>
      <form method="post">
        <div class="form-group">
          <label asp-for="@Model.SiteUser.EmailUsername"></label>
          <input class="form-control" type="text" asp-for="@Model.SiteUser.EmailUsername" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label asp-for="@Model.SiteUser.Password"></label>
          <input class="form-control" type="password" asp-for="@Model.SiteUser.Password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
      </form>
    </div>
    <div class="col col-8">

    </div>
  </div>
</div>